.theatres-list {
  /* Your styles for theatres list */
  margin: 1rem;
}

.theatre-list-details {
  margin: 2rem 5rem;
  background-color: #9fe2bf;
  padding: 0.2rem;
  border-radius: 1.75rem;
}

.theatre-list-details h3 {
  font-size: 1.5rem;
  text-align: center;
}

.theatre-list-details p {
  font-size: 1rem;
  text-align: center;
}

/* Additional styles for showtimes */
.theatre-list-details .theatre-list-showtimes {
  margin: 2rem;
}

.theatre-list-details .theatre-list-showtimes .showtimes {
  display: flex;
  justify-content: left;
  margin: -1.5rem;
}

.theatre-list-details .theatre-list-showtimes .showtimes .showtime-btn {
  margin-right: 2rem;
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: #ff6347; /* Tomato Red */
  color: white; /* White text color for contrast */
}

.theatre-list-details .theatre-list-showtimes .showtimes .showtime-btn:hover {
  background-color: #225244; /* Darker shade of green on hover */
}

.theatre-list-details .theatre-list-showtimes .showtimes .showtime-btn:active {
  background-color: #225244a4; /* Darker shade of green on active */
}

.theatre-details{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}